rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /menu/current {
      allow read: if true;
      allow write: if request.auth != null
        && request.auth.token.email_verified == true
        && request.auth.token.email in [
          'samuelmau2008@gmail.com',
          'pizzariasantoregano@gmail.com'
        ];
    }
  }
}
