rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null
        && request.auth.token.email_verified == true
        && request.auth.token.email in [
          'samuelmau2008@gmail.com',
          'pizzariasantoregano@gmail.com'
        ];
    }

    match /menu-images/{productId}/{fileName} {
      allow read: if true;
      allow create, update: if isAdmin()
        && request.resource.size < 2 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');
      allow delete: if isAdmin();
    }
  }
}
